<div class="inputPart">
    <mat-form-field class="example-form-field">
        <mat-label>{{ labelTitle }}</mat-label>
        <div class="input-container">
            <input matInput type="number" [(ngModel)]="getYearsAndMonths().years" max="30">
            <p class="unit">{{years}}</p>
        </div>
    </mat-form-field>
    
    
    <mat-form-field class="example-form-field">
        <mat-label></mat-label>
        <div class="input-container">
            <input matInput type="number" [(ngModel)]="getYearsAndMonths().months " max="11">
            <p class="unit">{{months}}</p>
        </div>
    </mat-form-field>
    

  <mat-icon [matTooltip]="popUp">info</mat-icon> <br>
  
  <mat-slider class="my-slider" [min]="sliderMin" [max]="sliderMax" color="primary">
      <input matSliderThumb [(ngModel)]="sliderValue" (input)="onValueChange()" [disabled]="disabledValue">
    </mat-slider>
    
    
    </div>