.mdc-slider {
    width: 95%;
    /* background-color: red; */
}
.input-container {
    display: flex;
    align-items: center; 
  }

  .inputPart{
    margin: 1vh;
    padding: 1vh;
    width: 50vh;
  }
  
  .example-form-field {
    width: 45%;
    margin-right: 1%;
  }

  .my-slider {
    --mdc-slider-handle-color: white;
    --mdc-slider-inactive-track-color: gray;
    --mdc-slider-inactive-track-height: 6px;
    --mdc-slider-handle-height: 20px;
    --mdc-slider-handle-width: 20px;
    --mdc-slider-inactive-track-shape: 20px;
 }
  
 ::ng-deep.my-slider .mdc-slider__thumb .mdc-slider__thumb-knob {
  border: 3px solid darkblue;
}