.inputField {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    gap: 3vh;
    flex-wrap: wrap; 
    flex-direction: row;
  }

  .lineChart{
    display: flex;
    justify-content: center;
    max-width: 100%;
    width: 100%;
    height: 50vh;
  }
  
  .pieChart{
    display: flex;
    justify-content: center;
    margin-left: 30%;
    max-width: 40%;
    width: 40%;
    height: 20vh;
  }
  .form{
    width: 40vh;
    margin: 2vh;
  }

