<div class="inputField" *ngFor="let item of arrayList">
    <ng-container *ngIf="item.type === 'single'">
      <app-input-field [labelTitle]="item.name"
                       [sliderValue]="item.data[0].value" 
                       [sliderMin]="item.data[0].min" 
                       [sliderMax]="item.data[0].max"
                       [unit]="item.data[0].unit" 
                       (valueChange)="onFieldValueChange($event, item.name)">
      </app-input-field>
    </ng-container>
    <ng-container *ngIf="item.type === 'double'">
      <app-double-input-field [labelTitle]="item.name"
                              [sliderValue]="item.data[0].value" 
                              [sliderMin]="item.data[0].min" 
                              [sliderMax]="item.data[0].max"
                              [unit]="item.data[0].unit" 
                              (valueChange)="onFieldValueChange($event, item.name)">
      </app-double-input-field>
    </ng-container>
  </div>


<ngx-charts-advanced-pie-chart
  [view]="view"
  [results]="pieChartData"
  [gradient]="true"
  [customColors]="pieChartcustomColors"
  [label]="customLabel"

  >
</ngx-charts-advanced-pie-chart>
