<!-- drop-down na výber výpočtu konkretného poľa -->
<form>
<mat-form-field class="form">
  <mat-label>Chcem vypočítať:</mat-label>
  <select matNativeControl [(ngModel)]="selectedCar" name="DropDown" (change)="onCarSelectionChange()">
    <option *ngFor="let DropDown of valueField" [value]="DropDown.value">
      {{DropDown.viewValue}}
    </option>
  </select>
</mat-form-field>
</form>

<!-- dynamicky generovane input polia  -->
<div class="inputField">
  <div class="" *ngFor="let item of arrayList">

    <ng-container *ngIf="item.type === 'single'">
      <app-input-field 
      [labelTitle]="item.name" 
      [sliderValue]="item.data[0].value" 
      [sliderMin]="item.data[0].min"
      [disabledValue]="item.data[0].disabled"
      [step]="item.data[0].step"
      [sliderMax]="item.data[0].max" 
      [unit]="item.data[0].unit"
      [popUp]="item.data[0].popUpData" 
      (valueChange)="onFieldValueChange($event, item.name)">
      </app-input-field>
    </ng-container>

    <ng-container *ngIf="item.type === 'double'">
      <app-double-input-field 
      [labelTitle]="item.name" 
      [sliderValue]="item.data[0].value" 
      [sliderMin]="item.data[0].min"
      [sliderMax]="item.data[0].max" 
      [disabledValue]="item.data[0].disabled"
      [unit]="item.data[0].unit"
      [popUp]="item.data[0].popUpData" 
      (valueChange)="onFieldValueChange($event, item.name)"
      >
      </app-double-input-field>
    </ng-container>

  </div>
</div>

<!-- line graf -->
<div class="lineChart">
  <ngx-charts-line-chart 
  [xAxis]="xAxis" 
  [yAxis]="yAxis" 
  [timeline]="timeline"
  [results]="lineChartData" 
  [scheme]="customColorScheme" 
  [yAxisTickFormatting]="formatEUR">
  </ngx-charts-line-chart>

</div>

<!-- kruhovy graf -->
<div class="pieChart">
  <ngx-charts-advanced-pie-chart 
  [results]="pieChartData" 
  [gradient]="true"
  [customColors]="pieChartcustomColors" 
  [label]="customLabel" 
  [valueFormatting]="formatValue">
  </ngx-charts-advanced-pie-chart>

</div>
